<% 
@address = Address.new
%>
<div class="my-acount-deatils">
	<div class="container" style="width: 90%;">

		<div class='row'>
			<div class='col-md-12'>

				
				<div class="col-md-9">
					<% current_cart.items.order(created_at: :desc).each_with_index do |item, index|%>
					<div class="shopping_cart">
						<div class="panel panel-default" id="order_refresh">
							<div class="panel-heading">
								<h4 class="panel-title">
									<a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" style="font-weight:bold;">ORDER AND DELIVERY DETAILS</a>
								</h4>
							</div>

							<div id="collapseTwo" class="panel-collapse collapse in">
								
								<br>
								<span class="gift-header">
									<span>GIFT <%= index+1 %></span>
								</span>
								<%# @product_upgrade = ProductUpgrade.find_by(id: item.additional[:product_upgrade_id].to_i)%>
								<% @extra_field = ExtraField.find_by(id: item.additional[:extra_field_id].to_i)%> 
								<div class="panel-body">

									<div class="row">
										<div class="col-md-6">
											<div class="row">
												<div class="col-md-4">
													<img src="<%= url_for(item.product.gallery.first) if item.product.gallery.attached?%>" class="productBanner">
													<div class="col-md-2">
														<a href="#" class="card-link remove-cart-product" data-id="<%= item.id%>"><i class="fa fa-trash"><span class="text-muted" style="margin-left:8%;
														">Delete</span></i></a>
													</div>
												</div> 
												<div class="col-md-4">
													<p style="font-size: 14px"><%= item.product.name%></p>
													<p style="font-size: 14px;"><span>&#8377;</span> <%= (@product_upgrade.present?) ? (@product_upgrade.price) : (item.price) %> </p>
												</div>
											</div>
										</div>

										<div class="col-md-4">
											<h4>DELIVERY ON</h4>
											<p id="chn_date"><%= item.additional[:delivery_date] %></p>
											<p id="chn_time"><%= item.additional[:delivery_time] %></p>
										</div>
										<div class="col-md-2">
											<button class="btn btn-success btn-warning delivery-details" id="change_details<%= index%>" data-backdrop="true" data-keyboard="true" style="background-color:#2179d0;border-color:#2179d0;" onClick="changeOrderDetails(<%= item.product.id%>, <%= item.id %>)">Change</button>
										</div>
									</div><!-- row -->
									<% if item.additional[:add_ons] %>
									<% add_ons = item.additional[:add_ons] %>
									<% add_on_objects = item.additional[:add_ons].map{|m, count| AddOn.where(:id=> m)}.flatten%>
									<% end %>
								</div> <!-- panel-body-->
								<!-- this is addon product details -->
								<%  if item.additional[:add_ons]%>		 
								<% add_on_objects.each do |item1| %>
								<div class="panel-body">
									<div class="row">
										<div class="col-md-6">
											<div class="row">
												<div class="col-md-4">
													<img src="<%= url_for(item1.gallery) if item1.gallery.attached?%>" class="productBanner">
													<div class="col-md-2">
														<a href="#" class="remove-add-on" data-item= "<%= item.id %>" data-add_on= "<%= item1.id %>"><i class="fa fa-trash"><span class="text-muted" style="margin-left:8%;
														">Delete</span></i></a>
													</div>
												</div> 
												<div class="col-md-4">
													<p style="font-size: 14px"><%= item1.name%></p>
													<p style="font-size: 14px;"><span>&#8377;</span> <%= item1.price %> </p>
												</div>

											</div>
										</div>
										<div class="col-md-4">
											<div class="value-button quantity-left-minus" value="Decrease Value">-</div>
											<input type="number" id="number<%= index%>" class = "number" data-item= "<%= item.id %>" data-add_on= "<%= item1.id %>" value= "<%= add_ons[item1.id.to_s]%>">
											<div class="value-button quantity-right-plus" value="Increase Value">+</div>
										</div>
									</div>
								</div> 
								<% end %>
								<% end %>
							</div>
							<!-- end of product add_on_details-->


							<!-- Add on Product Details-->


							<!-- end add on product details-->



							<!-- Address panel -->
							<div class="panel panel-default">
								<div class="panel-heading" >
									<h4 class="panel-title">
										<a href="#collapseAddress<%= index%>" data-toggle="collapse" data-parent="#accordion" >+ Add New Address</a>
									</h4>
								</div>
								<div id="collapseAddress<%= index%>" class="panel-collapse collapse in">
									<div class="panel-body">
										<div class="col-md-12">
											<h1>Enter New Address</h1>

											<%= form_for(@address, url: new_address_path, :html =>{:id=>"address_form#{index}"}) do |f|%>	

											<div class="form-group col-md-6">	
											 <label>Recipient's Name:</label>
											 <%= f.text_field :name, :name=> "name",:id=> "rec_name#{index}", :class=> "form-control",value: @address.name, required: true%>					 
										 </div>                
										 <div class="form-group col-md-6">												
											 <label>Recipient's Mobile number:</label>
											 <%= f.text_field :mobile, :name=> "mobile",:id=>"rec_mobile#{index}",:class=>'form-control',value: @address.mobile, required: true%>					 
										 </div>                        
										 <div class="form-group col-md-6">								
											 <label>Recipient's Email Id:</label> 
											 <%= f.email_field :email, :name=> "email",:id=>"rec_email#{index}",:class=>'form-control',value: @address.email, required: true, autofocus: true%>
										 </div>	          
										 <div class="form-group col-md-6">				 									  	
											<label>Recipient's Address</label>
											<%= f.text_area :address_line1, :name=> "address_line1",:id=>"rec_address#{index}",:class=>'form-control',value: @address.try(:address_line1),size: "60*100"%>
										</div>	                    
										<div class="form-group col-md-6">													
											<label>Recipient's City</label>
											<%= f.text_field :city, :name=> "city",:id=>"rec_city#{index}",:class=>'form-control',value: @address.try(:city) %>			 
										</div>                

										<div class="form-group col-md-6">				
											<label>Landmark</label>
											<%= f.text_field :landmark,:name=> "landmark", :id=>"rec_landmark#{index}",:class=>'form-control',value: @address.try(:landmark) %>			 
										</div>                             
										<div class="form-group col-md-6">									
											<label for="zip">Zip</label>
											<%= f.number_field :pincode,:name=> "pincode", :id=>"rec_zip#{index}",:class=>'form-control',value: @address.try(:pincode) %>		
										</div>								
										<div class="form-group col-md-6">

											<div class="col-md-6" style="margin-top:6%;">
												<%= f.submit 'Save', :class => 'btn btn-primary btn-block', data: {disable_with: "<i class='fa fa-spinner fa-spin'></i> Please wait...."},:style=>"background-color: #ff9212;
												color: white;" %>
											</div>
											<div class="col-md-6" style="margin-top:6%;">
												<%= link_to 'Cancel', '#', class: 'btn btn-default btn-block cancel_btn ',id: "cancel_btn#{index}",:style=>"background-color: #999;color:white; "%>
											</div>
											<%= f.hidden_field :item_id, :name=> "item_id",:id=>"item#{index}",:value => "#{item.id}" %>														
										</div>

										<%end%>
									</div>              
								</div>

							</div>

						</div>
						
						<h4 class="panel-title" style="font-weight: bold;margin-left: 2%;" id="select_address<%= index%>">SELECTED ADDRESS</h4><br> 
						<ul id="address_selected<%= index%>">
							<!-- Address panel -->

							<!-- Selected Address panel -->


						</ul>
					</div>
				</div>
					<!-- Selected Address panel -->

					<!-- Free message and card -->
					<h4>Free message and card</h4><br>
					<!-- Free message and card -->
					<%end%>

					<div class="form-group form-check">
						<input type="checkbox" class="form-check-input" id="exampleCheck1">
						<label class="form-check-label" for="exampleCheck1">I agree to the Terms & Conditions / Disclaimer</label>
					</div>
					<!-- <button data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" class="btn btn-primary">Submit</button> -->

					<form action="/purchase" method="POST">
						<script
						src="https://checkout.razorpay.com/v1/checkout.js"
						data-key="rzp_test_ceKCXwYi0JrUYI"

						data-amount="<%= (current_cart.total_amount_with_delivery) * 100 %>"
						
						data-name="<%= current_cart.items.first.product.name  %>"
						
						data-description="<%= truncate(current_cart.items.first.product.description.html_safe, :length => 80, :omission => "" , :escape => false)%>"
						data-image="/assets/logo.png"

						data-prefill.name="<%= "#{current_user.name}" %>"
						data-prefill.email="<%= "#{current_user.email}" %>"
						data-theme.color="#F37254"
						>
					</script>
					<!-- <input type="hidden" value="<%#= "#{@product.id}" %>" name="product_id"> -->
						<input type="hidden" value="<%= "#{current_user.id}" %>" name="user_id">
					</form>

				</div> <!-- Collapse div -->
				<!-- Panel Default-->
			
				<div class="col-md-3">
					<ul class="list-group mb-3">
						<li class="list-group-item d-flex justify-content-between lh-condensed">
							<div>
								<h4 style="font-weight:bold;">PRICE DETAILS</h4>
								<div class="row">
									<div class="col-md-9">
										<h6 class="text-muted">Total Product price</h6>
										<span class="text-muted">Shipping</span>
										<h5 class="text-muted" id="payment_total">Total</h5>
									</div>
									<div class="col-md-3">
										<h6 class="my-0" style="font-weight:bold;"><%= current_cart.total_price %></h6>

										<span class="text-muted" id="shipping_price"><%= current_cart.shipping_price %></span>
										<h5 class="my-0" style="font-weight:bold;"><%= current_cart.total_amount_with_delivery %></h5>
									</div>
								</div>
							</div>
						</li>
					</ul>

					<div class="footer-1">
						<h5>FNP SECURE</h5>
						<div class="visa-icon">
							<img src="assets/visa-icon.png">
						</div>
					</div>
				</div>
			</div>
		</div>
			
	</div>

</div>
		<!-- $("#collapseTwo").slideToggle(); -->


<!-- Modal for shipping and delivery-->

<div class="modal fade" id="delivery_modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" style="top:20%;z-index:9999999">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header" style="border-bottom: 0px">

				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<!-- calendar -->
				<input type="hidden" name="shipping_method_id" id="shipping_method_id"/>
				<input type="hidden" name="product_id" id="product_id"/>

				<input type="hidden" name="item_id" id="cart_item_id"/>
				<div class="modal-split">
				 <h4 class="modal-title" id="myModalLabel" style="text-align: center;font-weight: bold;margin-bottom:28px;">SELECT DELIVERY DATE</h4>
				 <div id="datepicker" data-provide="datepicker-inline" style="text-align: -webkit-center;"></div>
				 <hr />
			 </div>
			 <!-- shipping -->
			 <div class="modal-split">
				<h4 class="modal-title" id="myModalLabel" style="text-align: center;font-weight: bold;margin-bottom:28px;">SELECT SHIPPING METHOD</h4>
				<hr />
				<ul id="ul_shipping_method">
				 
			</ul>
		</div>
		<!-- timeslots -->
		<div class="modal-split">
			<h4 class="modal-title" id="myModalLabel" style="text-align: center;font-weight: bold;">SELECT THE TIME SLOT</h4>
			<hr />
			<ul class="timeslots">
			</ul>
		</div>
	</div>
	<div class="modal-footer">

	</div>
</div>
</div>
</div>
<!-- end of modal-->

<link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.3.0/css/datepicker.css" rel="stylesheet" type="text/css" />

<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.3.0/js/bootstrap-datepicker.js"></script>
<!-- testing panel -->
<script type="text/javascript">
	function prep_modal()
	{
		$(".modal").each(function() {

			var element = this;
			var pages = $(this).find('.modal-split');

			if (pages.length != 0)
			{
			 pages.hide();
			 pages.eq(0).show();

			 var b_button = document.createElement("button");
			 b_button.setAttribute("type","button");
			 b_button.setAttribute("class","btn btn-primary btn-lg");
			 b_button.setAttribute("style","display: none;width:30%;background: #f68808;");
			 b_button.innerHTML = "Back";

			 var n_button = document.createElement("button");
			 n_button.setAttribute("type","button");
			 n_button.setAttribute("class","btn btn-primary btn-lg");
			 n_button.setAttribute("style","width:30%;background-color: #038e3e;");
			 n_button.innerHTML = "Next";

			 $(this).find('.modal-footer').append(b_button).append(n_button);


			 var page_track = 0;

			 $(n_button).click(function() {
				var hello = document.getElementsByClassName('datepicker-switch');
				var selecteddate = document.getElementsByClassName('active day');
				if ((hello[0] != undefined) && (selecteddate[0] != undefined))
				{
				 $('input.delivery-details').val(selecteddate[0].innerText+ ',' +hello[0].innerText);

			 }
			 this.blur();         
			 if(page_track == 0)
			 {
				 $(b_button).show();
			 }
			 if(page_track == pages.length-2)
			 {
				 $(n_button).text("Submit");
			 }

			 if(page_track == pages.length-1)
			 {
				$(element).find("form").submit();
			}

			if(page_track < pages.length-1)
			{
			 page_track++;

			 pages.hide();
			 pages.eq(page_track).show();
		 }


	 });

			 $(b_button).click(function() {
				if(page_track == 1)
				{
				 $(b_button).hide();
			 }

			 if(page_track == pages.length-1)
			 {
				 $(n_button).text("Next");
			 }

			 if(page_track > 0)
			 {
				 page_track--;

				 pages.hide();
				 pages.eq(page_track).show();
			 }


		 });

		 }

	 });
	}

	$(document).ready(function(){
		
		$('.quantity-right-plus').click(function(e){
			e.preventDefault();
			// Get the field name
			var addOn = $(this).prev();
			var quantity = parseInt(addOn.val()) || 0;
			addOn.attr('value',quantity +1)
			updateAddons(addOn);
			
		});

		$('.quantity-left-minus').click(function(e){
			// Stop acting like a button
			e.preventDefault();
			// Get the field name
			var addOn = $(this).next();
			var quantity = parseInt(addOn.val()) || 0;

			if(quantity >0 ){
				addOn.attr('value',quantity - 1);
				updateAddons(addOn);
			} 

		});

		$('.remove-add-on').click(function(e){
			// Stop acting like a button
			e.preventDefault();

			$.ajax({
				url: '/remove_add_on',
				method: "GET",
				data: { add_on_id: $(this).attr('data-add_on'), item_id: $(this).attr('data-item')},
				success: function(data){

				}
			}); 

		});

		function updateAddons(addOn) {

		 $.ajax({
			url: '/update_add_ons',
			method: "GET",
			data: { add_on_id: addOn.attr('data-add_on'),add_on_count: addOn.val(), item_id: addOn.attr('data-item')},
			success: function(data){

			}
		}); 
	 }


	 var shipping_method_name = "";
	 var delcost = "";
	 var data_id = "";
	 var itemid = "";
	 var prod_id = "";
	 prep_modal();
	 var nowDate = new Date(); 
    var today = new Date(nowDate.getFullYear(), nowDate.getMonth(), nowDate.getDate(), 0, 0, 0, 0);
    $("#datepicker").datepicker({ autoclose: true}).datepicker('setStartDate', today).focus();

	 $(".delivery-details").click(function(){
		$("#delivery_modal").modal('show');
	});

	 $("#loader").hide();
	 $('.remove-cart-product').click(function(){
		var item_id = $(this).data('id');
		return $.ajax('/remove/' + item_id, {
		 type: 'GET',
		 dataType: 'script',
		 success: function(data) {
				// alert("this is inside success");
				$('#cart-item-' + item_id).empty();
				location.reload();
			},
			error: function(data) { }
		});
	})

	 $("#accordion").hide();
	 $('.cancel_btn').click(function(){
		var col_name = $(this).attr('id').match(/\d+/g);
		$("#collapseAddress" + col_name +".panel-collapse").collapse('toggle');
	});
	 $(".razorpay-payment-button").addClass("pay-now btn btn-primary")
	 $(".razorpay-payment-button").prop('disabled', true);
	 $("#exampleCheck1").click(function(){
		if($(this).prop("checked") == true && ValidateForm()){
			$(".razorpay-payment-button").prop('disabled', false);
			
		}
		else if($(this).prop("checked") == false){
			$(".razorpay-payment-button").prop('disabled', true);
		}
	});  

	 function ValidateForm() {
		var formInvalid = false;
		var gift_header = $(".gift-header").text().match(/\d+/g);

		$.each(gift_header, function(index, value) {
			if ($("#address_selected" +index).find('li').length > 0) {
				formInvalid = true;
			} 
			else {
			 alert('Forgot to fill the address !Please fill up all fields');
			 formInvalid = false;
		 } 

	 });
		return formInvalid;
	}
	$(".delivery-details").click(function(){
		data_id = $(".delivery-details").attr('id');
		itemid = $("#" + data_id).attr("data-itemid");
		prod_id = $("#" + data_id).attr("data-prodid");  

	});

	$('.btn-primary').click(function(){
		var delcost = $(this).closest(".sm-url").find(".delcost").text();

		if(this.innerText == "Submit") {
		 var slottime = $('input[name=Slottime]');
		 var slot_value = $('input[name="Slottime"]:checked').val();
		 var hello = document.getElementsByClassName('datepicker-switch');
		 var selecteddate = document.getElementsByClassName('active day');
		 var updated_delivery_date = selecteddate[0].innerText+ ',' +hello[0].innerText
		 var itemid = $("#cart_item_id").val()
		 var sm_id = $("#shipping_method_id").val()
		 var product_id = $("#product_id").val()
		 $.each(slottime,function(index,value){
			if (value.checked){
							 //var addslottime = $('input.delivery-details');
							 $.ajax({
								url: '/update_delivery',
								method: "GET",
								data: { product_id: product_id,sm_id: sm_id, item_id: itemid, slot_time: slot_value , delivery_date: updated_delivery_date,current_cart: <%= current_cart.id %>},
								success: function(data){

									location.reload();
									
												// $(".timeslots").children().remove();
												// $.each(data,function(index,value){
												//   $(".timeslots").append('<li class="sm-list" style="list-style: none;"><a class="sm-url" href="#"><label style="margin-left: -23px;width: 83.9%;border-radius: 4px 0 0 4px;margin-right: 0;height: 50px;border: 1px solid #CCC;border-right: 1 solid #fff;padding-top: 10px;padding-left: 54px;"><input type="radio" name="Slottime" value="'+ value.from +' - ' + value.to +'" id="'+ shipping_method_name +'" /><span style="display: inline-block">'+ value.from +' - ' + value.to + '</span></label></a></li>');
												// });
											}
										});         
							 //addslottime[0].value = addslottime[0].value + ',' + value.value
							 $('#delivery_modal').modal('toggle');                    
							 $(".delivery-details").val($(".delivery-details").val() + "," + shipping_method_name +":" +delcost);
						 }
					 });
	 }

 });


	$("input[name=shippingmethod_name]").on("click", function(){
		
		shipping_method_name = this.value;

		delcost = $(this).closest(".sm-url").find(".delcost").text();
		$.ajax({
		 url: '/get_time_slots',
		 method: "GET",
		 data: { product_id: product ,sm_name: shipping_method_name},
		 success: function(data){
			$(".timeslots").children().remove();
			$.each(data,function(index,value){
				$(".timeslots").append('<li class="sm-list" style="list-style: none;"><a class="sm-url" href="#"><label style="margin-left: -23px;width: 83.9%;border-radius: 4px 0 0 4px;margin-right: 0;height: 50px;border: 1px solid #CCC;border-right: 1 solid #fff;padding-top: 10px;padding-left: 54px;"><input type="radio" name="Slottime" value="'+ value.from +' - ' + value.to +'" id="'+ shipping_method_name +'" /><span style="display: inline-block">'+ value.from +' - ' + value.to + '</span></label></a></li>');
			});
		}
	})
	});



	$("input[name=commit]").click(function(event){
		event.preventDefault();
		var form_id = $(this).closest("form").attr('id');
		var form_value = $("#" + form_id).serialize();

		$.ajax({
		 url: '/new_address',
		 method: "POST",
		 data: { address: form_value },
		 success: function(data){
			 var response = data;
			 var addr_name = form_id.match(/\d+/g);
			 $("#collapseAddress" + addr_name +".panel-collapse").collapse('toggle');
			 $("#" + form_id)[0].reset();              
			 $('#address_selected'+ addr_name).append('<li style="list-style-type: none;margin-right:10%;"><div class="panel-group" id="accordion2"><div class="panel panel-default"><div class="panel panel-default"><div class="panel-heading" style="background-color:#fff9d8"><div class="panel-body" style="padding: 0px;"><div class="col-md-1"><label for="r12" style="width: 100%;"><input type="radio" id="r12" name="'+addr_name+'" value="'+addr_name+'" required /> </div><div class="col-md-9"><p id="response_address"></p></div><div class="col-md-2"><div class="col-md-2"><a href="#"><i class="fa fa-trash delete_panel" aria-hidden="true" style="text-align: right;padding-left: 30%;font-size: medium;" ></i></a><p></p></div></div><a data-toggle="collapse" data-parent="#accordion" href="#collapseThree"></a></label></div></div><div id="collapseThree" class="panel-collapse collapse"><div class="panel-body"><p>Bootstrap is a powerful front-end framework for faster and easier web development. It is a collection of CSS and HTML conventions. <a href="http://www.tutorialrepublic.com/twitter-bootstrap-tutorial/" target="_blank">Learn more.</a></p></div></div></div></div></li>');
			 $('#address_selected' + addr_name + ' '+'li:last-child').find("#response_address").html("<span style='font-weight:bold;'>" + response["name"] + " " + response["mobile"] + " " + "<br><br>" + response["address_line1"] + " " + response["city"] + " " + response["pincode"] + "</span><br><br>");            
			 $(".delete_panel").on('click',function(){
				$(this).closest('li').remove();
				$(this).closest("#response_address").empty();
			});
		 },
		 error: function(jqXHR, textStatus, errorThrown) {
			 alert(jqXHR.responseJSON.errors);
		 }    
	 })
	});


})

</script>
