<div class="inner-page-content0">

  <div class="my-acount-deatils">
    <div class="container" style="width: 85%;">
      <div class="row">
        <%= render 'my_account/my_account_sidemenu'%>

        
        <div class="col-md-10">
          <div class="profile-edit-0details my-order">
            <div class="order-query">
              <h1>My Orders</h1>
              <!-- <a href="#">General Query</a> -->
            </div>

            <%@orders.each do |order|%>
            <div class="order-place-date1">
              <p>Order Placed: <%= order.created_at.strftime('%a, %d %b, %y, %H:%M')%> HRS</p>
              <span>Order No: <%= order.order_no%></span>
            </div>
            <div class="delivered-on-list">
              <div class="delivered-on0 order-details-list" >
                <p class="Delivered-pop" style="text-align: left;"><span class="status">In transit</span><br><span><%= order.created_at.strftime('%a, %d %b, %y')%></span></p>
                <div class="images_cushion">
                  <div class="row">
                    <div class="col-md-12">
                        <img src="<%= url_for(order.product.gallery.first) if order.product.gallery.attached?%>" class="productBanner">
                        <p style="font-size: 15px; margin-top: 20px;"><span>&#8377;</span><%= order.total_price %> </p>
                    </div>
                    
                  </div>
                </div>
                
              </div>
              <div class="delivered-on0 order-details-list" >
                <p class="Delivered-pop" style="text-align: left;"><span>Item's Details </span></p>
                <p class="ml-1"><%= order.product.name%><br>
                  <%= order.adjusted_price.to_i%> * 1
                </p>
                <% if order.additional[:add_ons] %>
                  <% add_ons = order.additional[:add_ons] %>
                  <% add_on_objects = order.additional[:add_ons].map{|m, count| AddOn.where(:id=> m)}.flatten%>
                <% end %>
                <% add_on_objects&.each do |item1| %>
                  <p class="ml-1"> 
                    <%= item1.name %> 
                    <br>
                    <%= item1.price.to_i %> * <%= add_ons[item1.id.to_s]%>
                  </p>
                <% end %>

              </div>
              <div class="delivered-on0 order-details-list" >
                <p class="Delivered-pop" style="text-align: left;"><span>Delivery Details </span></p>
                <p class="ml-1"><%= order.additional[:delivery_date] %></p>
                <p class="ml-1"><%= order.additional[:delivery_time] %></p>


              </div>
              <div class="delivered-on0 order-details-list">
                <p class="Delivered-pop" style="text-align: left;"><span>Recipient's Deatils </span></p>
                <% address = order.recipient_address %>
                <% if address.present? %>
                  <p class="ml-1">
                    <%= address.name %> <br>
                    <%= address.email %> <br>
                    <%= address.mobile %> <br>
                    <%= "#{address.address_line1}, #{address.city}, #{address.pincode}" %></p>
                <% end %>
              </div>

              <div class="delivered-on0 order-details-list">
                <p class="Delivered-pop" style="text-align: right;"><span>Sub Order No. </span><br><span><%= order.order_no%></span></p>
                <div class="images_cushion_btn" style="display: grid;">
                  <a href="#" class="track-order_1"><i class="fa fa-map-marker" aria-hidden="true"></i> Track Order</a>
                  <a href="#" class="track-order_2"><i class="fa fa-question-circle" aria-hidden="true"></i>Raise query</a>              
                  <a href="/reviews/<%= order.product_id%>" class="btn btn-primary track-order_3"><i class="fa fa-comments"></i> Write A Review</a>
                  <%= link_to admin_invoice_show_path(order, format: :pdf), :class=>'track-order_3 btn btn-primary', target: "blank" do %>
										<i class="fa fa-download" aria-hidden="true"></i> Download Invoice
										<%end%>

                   
                </div>
              </div>            
            </div>
            <%end%>

          </div>
        </div> <!-- col-md-10-->
        

      </div>
    </div>
  </div>
</div>
