<p> Order # <%= @order.order_no %> has been <%= @order.state %> </p>
<p> User name: <%= @user.name %></p>
<p> User email: <%= @user.email %></p>
<p> Product Name: <%= @product.name %></p>
<p> Order Price: <%= @order.price %></p>