<div class="inner-page-content0">
  <div class="cake-selling">
   <div class="container">
    <div class="row">
     <div class="col-md-12">
      <h1><%= @sub_category.try(:name) %></h1>
      <p>Cake is an inevitable part of birthday celebration that fills every moment with utmost joy and happiness. Buy bestseller birthday cakes from our website to wish your loved ones and make their big day extra special. The fresh and yummy flavor of our cakes will add sweetness to their celebration and put a big smile on their face.</p>
    </div>
  </div>
</div>
</div>
<ol class="breadcrumb">
    <%= render_breadcrumbs :tag => :li, :separator => ">" %>
</ol>

<div class="cake-gift">
	<div class="container">
		<div class="row">
      <div class="col-md-12">	
        <div class="col-md-2 dropdown">	
          <div class="desktop-menu-list birthday-cake-menu">
             <div class="menu-container">
              <div class="menu">
                <ul>
                  <li>  
                    <button class="dropbtn">Gift Type</button>
                    <ul class="gift_type_drop_down">
                      <% @super_category.categories.includes(:sub_categories).each do |category| %>
                        <li class="gift_type_sub_category">
                          <%= link_to category.name,'#' %>
                          <% unless category.sub_categories.empty? %>
                            <ul class="menu-list-scroll">
                              <% category.sub_categories.each do |sub_category| %>
                                <li >
                                  <%= link_to sub_category.name,super_category_path(id: @super_category,sub_category_id: sub_category.id)%>
                                </li>
                              <% end %>
                            </ul>
                          <% end %>
                        </li>
                      <% end %>
                    </ul>
                  </li>
                </ul>
              </div>
            </div>
          </div>   
        </div>

        <div class="col-md-2 dropdown">
          <button class="dropbtn">Occassions</button>
          
          <div class="dropdown-content">
            <% Occasion.all.each do |ocassion,index| %>
              <%= link_to ocassion.name, super_category_path(id: @id, sub_category_id: @sub_category_id, occasion_id: ocassion.id)%>
            <% end %>
          </div>
        </div> 

        <div class="col-md-2 dropdown">
          <button class="dropbtn">Deliver City</button>
          
          <div class="dropdown-content">
            <%  Product.all.each do |product,index| %>
              <% if product.city.present? %>
                <%= link_to product.city, super_category_path(id: @id, sub_category_id: @sub_category_id, city_name: product.city)%>
              <% end %>
            <% end %>
          </div>
        </div>

        <div class="price-dropdown-list">
          <div class="dropdown">
            <button class="dropbtn">Price</button>
            <div class="dropdown-content">
              <%= link_to 'Below 500', super_category_path(id: @id, sub_category_id: @sub_category_id, below: 500)%>
              <%= link_to 'Below 1000', super_category_path(id: @id, sub_category_id: @sub_category_id, below: 1000)%>
              <%= link_to 'Below 1500', super_category_path(id: @id, sub_category_id: @sub_category_id, below: 1500)%>
              <%= link_to 'Below 2000', super_category_path(id: @id, sub_category_id: @sub_category_id, below: 2000)%>
              <%= link_to 'Above 2500', super_category_path(id: @id, sub_category_id: @sub_category_id, above: 2500)%>
            </div>
          </div>	
        </div>
      </div>
    </div>
  </div>
</div>
</div>




<section class="cake-product-list">
	<%= render partial: 'product' %>	
</section>


  <div class="best-seller-cake">
   <div class="container">
    <div class="row">
     <div class="col-md-12">
      <h3>Order Yummy Bestseller Birthday Cakes Online From Ferns N Petals</h3>
      <p>Birthdays are the most important occasion in people’s life that calls for a grand celebration. And if it’s the birthday of a dear one you hold close to your heart, you cannot go with the ordinary cakes. You need something special to show that they are important to you and you care a lot about them. Ferns N Petals brings to you an extensive collection of bestseller cakes for birthday celebration like fondant cakes, photo cakes, heart-shaped cakes, and cartoon cakes. These cakes will enhance the fun factor of your loved one’s birthday celebrations and give them sweet memories to cherish forever. Be it the 18th birthday of your brother or 50th birth anniversary of your dad, our selected B’day bestseller cakes will help convey your wishes to them in the sweetest manner possible. You can order a scrumptious heart-shaped red velvet cake to send birthday cake for girlfriend that will delight her senses and taste buds in the best manner.</p>

      <h3>Send Mouthwatering Bestseller Birthday Cakes to Delight the Heart of Your Loved Ones</h3>
      <p>Be it your daughter’s first birthday party or your best friend’s birthday celebration, the cake is considered the perfect gifting item to bring a sweet smile on their face. Ferns N Petals offers a tempting range of best seller birthday cakes that you can send on your Mother’s birthday to reciprocate the love and care that she showers upon you all day long. Or you can surprise your little son with a superman birthday cake by Ferns N Petals to get him excited for the celebration. We also have a special range of number birthday cakes for kids to help you offer something unique and thoughtful to your children on their D-day and make it memorable for them. Apart from the bestseller birthday cakes, we also offer best seller birthday flowers and birthday combos on our website at affordable prices. You can send them to your loved ones residing in India & abroad through our exemplary same day, next day, and midnight delivery service.</p>
    </div>
  </div>
</div>
</div>
</div>

